<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>IKEA x Compound</title>
    <link rel="stylesheet" href="../savingsGoal/savingsGoal.css" />
    <link href="https://fonts.cdnfonts.com/css/manier" rel="stylesheet" />
    <link
      href="https://db.onlinewebfonts.com/c/0cd2066d94cb259c354c83f8abd8bd87?family=FSP+DEMO+-+Articulat+CF"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="goal-container">
      <div class="goal-header">
        <div class="header-logos">
          <img src="/assets/img/ikea.png" alt="IKEA Logo" class="logo ikea" />
          <span class="divider">x</span>
          <img
            src="/assets/img/compound.svg"
            alt="Compound Logo"
            class="logo compound"
          />
        </div>
        <div class="goal-text">Earn 20% on Every Deposit</div>
        <img
        src="/assets/img/savingGoal.svg"
        alt="Coins Logo"
        class="coins-logo"
      />
      </div>
      <div class="goal-body">
        <div class="content">
          <div class="text-block">
            <h2 class="title">How much are you thinking of saving?</h2>
          </div>
          <div class="input-container">
            <div class="input-wrapper">
              <img src="/assets/img/jarWithDollar.svg" alt="jarWithDollar" class="jar-logo" />
              <input type="text" id="savings-amount" value="400.00" />
              <span class="currency-symbol">$</span>
            </div>
          </div>
        </div>
      </div>
      <div class="goal-footer">
        <button class="continue-btn" onclick="handleContinue()">Continue</button>
      </div>
    </div>
    <script src="./savingsGoal.js"></script>
  </body>
</html>
