body {
  font-family: 'Manier', sans-serif;
  background-color: #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.footer {
  text-align: center;
}

.widget-btn {
  background-color: #005eb8;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.widget-btn:hover {
  background-color: #004494;
  transform: translateY(-2px);
}

.widget-btn:active {
  transform: translateY(1px);
}
