<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>IKEA x Compound</title>
  <link rel="stylesheet" href="./savingsPlan.css" />
  <link href="https://fonts.cdnfonts.com/css/manier" rel="stylesheet" />
  <link href="https://db.onlinewebfonts.com/c/0cd2066d94cb259c354c83f8abd8bd87?family=FSP+DEMO+-+Articulat+CF"
    rel="stylesheet" />
</head>

<body>
  <div class="goal-container">
    <div class="goal-header">
      <div class="header-logos">
        <img src="/assets/img/ikea.png" alt="IKEA Logo" class="logo ikea" />
        <span class="divider">x</span>
        <img src="/assets/img/compound.svg" alt="Compound Logo" class="logo compound" />
      </div>
      <div class="goal-text">90 Days. TBD 39 Earned.</div>
      <img src="/assets/img/hourglass.svg" alt="Coins Logo" class="coins-logo" />
    </div>
    <div class="goal-body">
      <div class="content">
        <div class="text-block">
          <h2 class="title">Select your plan</h2>
        </div>
        <div class="input-container">
          <div class="input-wrapper">
            <div class="plan-selector">
              <button class="plan-button">1 mo</button>
              <button class="plan-button active">3 mo</button>
              <button class="plan-button">6 mo</button>
              <button class="plan-button">9 mo</button>
            </div>
          </div>
        </div>
        <div class="saving-plan">
          <h3>Your Saving Plan</h3>
          <div class="timeline-heading">
            <div class="timeline-date-heading">Date</div>
            <div class="timeline-deposit-heading">Deposit</div>
            <div class="timeline-rewards-heading">Earnings</div>
          </div>
          <div class="timeline">
            <div class="timeline-line"></div>
            <div class="timeline-item active">
              <div class="timeline-dot"></div>
              <div class="timeline-content">
                <div class="timeline-date">Today</div>
                <div class="timeline-deposit">TBD 100.00</div>
                <div class="timeline-rewards">TBD 20.00</div>
              </div>
            </div>
            <div class="timeline-item">
              <div class="timeline-dot"></div>
              <div class="timeline-content">
                <div class="timeline-date">20 September</div>
                <div class="timeline-deposit">TBD 100.00</div>
                <div class="timeline-rewards">TBD 20.00</div>
              </div>
            </div>
            <div class="timeline-item">
              <div class="timeline-dot"></div>
              <div class="timeline-content">
                <div class="timeline-date">20 October</div>
                <div class="timeline-deposit">TBD 100.00</div>
                <div class="timeline-rewards">TBD 20.00</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="goal-footer">
      <button class="continue-btn">Continue</button>
    </div>
  </div>
  <script src="./savingsPlan.js"></script>
</body>

</html>