.header {
  height: 236px;
  padding-top: 30px;
  background-color: #0a0a0a;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  .back-button {
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
  }

  .back-button > img {
    margin-top: 4px;
  }

  .header-logos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .logo {
    height: 32px;
  }

  .divider {
    color: white;
    font-size: 24px;
    font-family: sans-serif;
    font-weight: 100;
  }

  .header-text {
    padding: var(--header-text-padding, 30px 24px 15px);
    color: #a0d234;
    font-family: "Manier", sans-serif;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
  }

  .header-image {
    width: var(--header-image-width, 192px);
    height: var(--header-image-height, 109px);
    left: var(--header-image-left, 0);
    top: var(--header-image-top, 0);
    position: var(--header-image-pos, relative);
  }

  @media only screen and (max-width: 450px) {
    height: 26%;
    
    .header-text {
      font-size: 18px;
    }
    
    .header-image {
      width: var(--header-image-width, 200px);
      height: var(--header-image-height, 109px);
      left: var(--header-image-left, 0);
      top: var(--header-image-top, 0);
      position: var(--header-image-pos, relative);
    }
  }
  
  @media only screen and (max-height: 750px) {
    .header-image {
      width: var(--header-image-width, 100px);
      height: var(--header-image-height, 75px);
      left: var(--header-image-left, 0);
      top: var(--header-image-top, 0);
      position: var(--header-image-pos, relative);
    }
  }
}
