.savings-plan-screen {
  height: 100%;

  modal-header {
    --header-image-left: 220px;
    --header-image-top: 150px;
    --header-image-pos: absolute;
    --header-text-padding: 30px 40px 6px;
  }

  .container {
    background-color: #ffffff;
    border-radius: 16px;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (max-width: 450px) {
      height: 58%;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;
    height: 375px;
    flex-grow: 1;

    .content-heading {
      display: flex;
      flex-direction: column;
      gap: 5px;
      margin-bottom: 25px;
    }

    .content-title {
      color: #112744;
      font-family: "Manier", sans-serif;
      font-size: 26px;
      font-weight: 500;
      line-height: 34px;
      margin: 0;
    }

    .content-sub-title {
      font-family: "Articulat CF", sans-serif;
      font-size: 16px;
      font-weight: 400;
      margin: 0;
  
      span {
        color: #FF69B4;
      }
    }

    .plan-details {
      background-color: #f7f8fa;
      border-radius: 16px;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  
    .detail-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px dashed #E1E4EA;
      padding: 16px;
    }
  
    .detail-icon {
      font-size: 20px;
      margin-right: 12px;
    }
  
    .detail-label {
      flex-grow: 1;
      text-align: left;
      font-family: "Articulat CF", sans-serif;
      font-size: 16px;
      font-weight: 400;
      color: #112744;
    }
  
    .detail-value {
      font-family: "Articulat CF", sans-serif;
      font-size: 16px;
      font-weight: 500;
      color: #112744;
    }
  }

  @media (max-width: 450px) {
    height: 100dvh;

    modal-header {
      --header-image-left: 200px;
      --header-image-top: 125px;
    }
  }
}