body {
  font-family: Arial, sans-serif;
  background-color: gray;
  color: #333;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: #ffffff;
  border-radius: 16px;
  overflow: hidden;
  width: 390px;
  height: 800px;
  max-width: 100%;
  text-align: center;
}

.header-align {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.header {
  height: 236px;
  padding-top: 30px;
  background-color: #0a0a0a;
}

.logo {
  height: 38px;
}

.divider {
  color: white;
  font-size: 24px;
  font-family: sans-serif;
  font-weight: 100;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 375px;
  background-color: white;
}

.content-para {
  height: 82px;
  width: inherit;
  gap: 4px;
}

.content-title {
  color: #112744;
  font-family: "Manier", sans-serif;
  font-size: 26px;
  font-weight: 500;
  line-height: 34px;
  text-align: center;
  margin: 0px;
}

.content-desc-1 {
  color: #525866;
  font-family: "Articulat CF", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.011;
  text-align: center;
  margin: 0px;
}

.content-desc-2 {
  color: #525866;
  font-family: "Articulat CF", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.03rem;
  text-align: center;
  margin: 0px;
}

.content-desc-3 {
  color: #525866;
  font-family: "Articulat CF", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.01rem;
  text-align: center;
  margin: 0px;
  padding: 0 1px;
}

.carousel {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-content {
  height: 227px;
}

.carousel-images {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  height: 199px;
}

.carousel-btn {
  background-color: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #333;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.carousel-btn.left {
  left: 10px;
  width: 32px;
  height: 32px;
  top: 94px;

  padding: 4.5px 10.5px 4.5px 8.5px;
  gap: 0px;
  opacity: 0px;
}

.carousel-btn.right {
  right: 10px;
  width: 32px;
  height: 32px;
  top: 94px;

  padding: 4.5px 8.5px 4.5px 10.5px;
  gap: 0px;
  opacity: 0px;
}

.carousel-image {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.indicators {
  display: flex;
  justify-content: center;
  height: 12px;
}

.indicator {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ccc;
  margin: 0 5px;
}

.indicator.active {
  background-color: #333;
}

.footer {
  height: 50px;
  background-color: #898d9c1a;
  border-radius: 0 0 20px 20px;
  padding: 20px;
}

.continue-btn {
  background-color: #a0d234;
  border: none;
  border-radius: 999px;
  height: 50px;
  color: #0a0a0a;
  font-size: 16px;
  font-weight: 500;
  font-family: Articulat CF;
  line-height: 20px;
  width: 100%;
  cursor: pointer;
}

.continue-btn:hover {
  background-color: #a4cd1a;
}

.carousel-image {
  display: none;
}

.carousel-image.active {
  display: block;
}

.text {
  display: none;
}

.text.active {
  display: block;
}

.carousel-image {
  width: 100%;
  padding-bottom: 20%; /* Maintains 1:1 aspect ratio */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
  display: none;
}

.body {
  padding: 32px;
}
